<div class="date">
  <span class="month"><%= Russian::strftime(@project.finished_at, "%B") %></span>
  <span class="day"><%=  Russian::strftime(@project.finished_at, "%d") %></span>
  <span class="year"><%= @project.finished_at.year %></span>
</div>
<div class="info">
  <div class="image">
    <% if @project.swf_width.blank? %>
    <%= link_to project_zoom_path(id: @project.id, group: @group), class: "fancybox" do %>
      <div class="inner-border">
        <img src="<%= @project.preview.url :medium %>" alt="<%= @project.title %>"/>
      </div>
      <div class="bar">
        <span class="zoom">увеличить<i class="icn-zoom"></i></span>
      </div>
    <% end %>
    <% else %>
      <div class="table">
        <div class="row">
          <div class="cell">
            <div class="inner-border">
              <img src="<%= @project.preview.url :swf_preview %>" alt="<%= @project.title %>"/>
            </div>
          </div>
          <div class="cell">
            <i class="cross"></i>
          </div>
          <div class="cell">
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="<%= @project.swf_width %>" height="<%= @project.swf_height %>">
              <param name="movie" value="<%= @project.main.url %>" />
              <!--[if !IE]>-->
              <object type="application/x-shockwave-flash" data="<%= @project.main.url %>" width="<%= @project.swf_width %>" height="<%= @project.swf_height %>">
              <!--<![endif]-->
              <p>Alternative content</p>
              <!--[if !IE]>-->
              </object>
        <!--<![endif]-->
            </object>
          </div>
        </div>
      </div>
    <% end %>
    <div class="loading-wrapper">
      <div class="animation">
        <div></div>
      </div>
    </div>
  </div>
  <h2><%= @project.title %></h2>

  <h3>Детали проекта</h3>

  <p><%= @project.about %></p>

  <div class="inside-project-control">
    <% if @project.client.present? %>
    <span class="client">Клиент: <a href="http://<%= @project.client.site %>" rel="nofollow" target="_blank"><%= @project.client.name %></a></span>
    <span class="site">Посетить сайт: <a href="http://<%= @project.client.site %>" rel="nofollow" target="_blank"><%= @project.client.site %></a></span>
    <% end %>
    <a class="icn-close"></a>
    <%= render partial: "shared/project_pager" %>
  </div>
</div>