<div class="date">
  <span class="month"><%= Russian::strftime(@project.finished_at, "%B") %></span>
  <span class="day"><%=  Russian::strftime(@project.finished_at, "%d") %></span>
  <span class="year"><%= @project.finished_at.year %></span>
</div>
<div class="info">
  <div class="image">
    <a class="fancybox" href="<%= @project.image.url :original %>">
      <img src="<%= @project.image.url :medium %>" alt=""/>
      <div class="bar">
        <span class="zoom">увеличить<i class="icn-zoom"></i></span>
      </div>
    </a>
  </div>
  <h2><%= @project.title %></h2>

  <h3>Детали проекта</h3>

  <p><%= @project.about %></p>

  <div class="inside-project-control">
    <% if @project.client.present? %>
    <span class="client">Клиент: <a href="http://<%= @project.client.site %>" rel="nofollow" target="_blank"><%= @project.client.name %></a></span>
    <span class="site">Посетить сайт: <a href="http://<%= @project.client.site %>" rel="nofollow" target="_blank"><%= @project.client.site %></a></span>
    <% end %>
    <a class="icn-close"></a>
    <ul class="inside-project-pager">
      <li class="projects-pager-left <%= 'disabled' if @project.prev(@group).nil? %>">
        <%= link_to "", {id: @project.prev(@group), group: @group}, remote: true %></li>
      <li class="projects-pager"></li>
      <li class="projects-pager-right <%= 'disabled' if @project.next(@group).nil? %>">
        <%= link_to "", {id: @project.next(@group), group: @group}, remote: true %></li>
    </ul>
  </div>
</div>