<div class="wrapper">
  <div class="bar dashed-line">
    <ul class="inside-project-pager">
      <li class="projects-pager-left <%= 'disabled' if @project.prev(@group).nil? %>">
        <%= link_to "", project_zoom_path(id: @project.prev(@group), group: @group), remote: true %></li>
      <li class="projects-pager"></li>
      <li class="projects-pager-right <%= 'disabled' if @project.next(@group).nil? %>">
        <%= link_to "", project_zoom_path(id: @project.next(@group), group: @group), remote: true %></li>
    </ul>
    <a class="icn-close"></a>
  </div>
  <div class="project-image">
    <%= image_tag @project.main.url %>
  </div>
</div>
